html {
    font-family: Arial, Helvetica, sans-serif;
}
#logo {
    text-align: left;
}
.buttons {
   /*  width: 30%; */
    background-color: rgb(46, 46, 46);
    border-width: 3px;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    border-right-style: solid;
    text-align: center;
    height: 100vh;
}
hr {
    border: 2px inset #000000;
}
a {
    color: white;
    text-emphasis: none;  
    text-decoration: none;
    float: left;
}
#wrap {
    float: left;
    max-width: 500px;
}
.text1 {
    text-align: left;
    text-indent: 100px;
    font-size: 50px;
}
.text2 {
    text-align: left;
    text-indent: 100px;
    font-size: 35px;
}
.golyok {
    text-align: left;
    text-indent: 100px;
}

/* Leggyakoribb szamok oldal kezdete v */
.topgolyok {
    font-size:40px;
    text-indent: 100px;
    margin: -60px;
}
.vert {
    vertical-align: middle;
}
/* Leghosszabb sorozatok szamsorban oldal kezdete v */

#text1alt {
    font-size: 30px;
    text-indent: 100px;
}
/* Erdekes tortenetek oldal kezdete v */
.tortenet {
    text-align: justify;
    width: 800px;
    padding-right: 100px;
    padding-left: 35%;
    font-size: 20px;
}
.text3 {
    padding-left: 35%;
}
