#logo {
    text-align: left;
}
.buttons {
    width: 30%;
    background-color: gray;
    border-width: 3px;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    border-right-style: solid;
}

hr {
    border: 2px inset #000000;
}
a {
    color: black;
    text-emphasis: none;  
    text-decoration: none;
    display: inline-block;
}
.text {
    display: flexbox;
    flex-direction:initial;

}
.text1 {
    background-color: white;
    padding: 35px;
    display: inline-block;
    align-items:center;
    justify-content:center;
  }
.text2 {
    background-color: white;
    padding: 35px;
    display:flex;
    align-items:center;
    justify-content:center;
    display: inline-block;
  }